*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
     
}

body{

  background-color: #233142;
  /* margin: 0  3rem 3rem 3rem; */
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex; 
  flex-flow:column wrap;
}

#appPaw{
  rotate: 25deg;
  color: #455d7a;
}

.app_main{
  margin-left: 1rem;
  margin-right: 1rem;
}

.app_main h1{
  padding-top: 50px;
  font-size:100px;
  color: rgb(232,232,232);
  font-family: var(--font-title);
}

.app_main h4{
  color: rgb(232,232,232);
  font-weight: 300;
  padding-bottom: 3rem;
}

.app_main h4 a{
  color: rgb(232,232,232);
  font-weight: 300;
}

#descText{
  color: rgb(232,232,232);
  font-weight: 300;
}

.app_main h4 a:hover{
  color:#f95959;
}


/* DROPDOWN STYLES */

.dropdown_container{
  display:flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.dropdown{
  width: 20rem;
  font-weight: 500;
}

.dropdownOptions__option.dropdownOptions__option--is-selected{
  background-color: white;
  color:#f95959;
  font-weight: 700;
}

.dropdownOptions__option:hover {
  cursor: pointer;
}


/* RETURNING VISIT W/ SAVES */
.app_returned {
  display: flex;
  flex-flow: column;
  justify-content: center;
  /* width: 60%; */
  align-self: center;
  gap: 1rem;
}

.app_returned_container{
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  padding-top:5rem;
  gap: 2rem;
  margin: 0 40px 20px 40px
}

.app_returned h1{
  padding-top: 50px;
  font-size:100px;
  color: rgb(232,232,232);
  font-family: var(--font-title);
}

.app_returned h4{
  color: rgb(232,232,232);
  font-weight: 300;
  padding-bottom: 2rem;
}

.app_returned Button{
  background-color: #455d7a;
  font-weight: 600;
  font-size: medium;
  border: none;
  align-self: center;
  width: 20rem;
  padding: 14px 8px;
}

.app_returned Button:hover{
  cursor: pointer;
}


/* MOBILE PHONES */
@media only screen and (max-width: 768px){
  body{
    overflow-x: hidden;
  }

  .App h1{
    font-size: 40px;
  }

  .App #descText h4{
    display: none;
  }

  .App #descText{
    font-size: medium;
  }

  .app_returned h4{
    padding-bottom: 2rem;
  }

} 