*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body{

  background-color: #233142;
  margin: 0  3rem 3rem 3rem;
  overflow-x: hidden;
}

.App {
  text-align: center;
  display: flex; 
  flex-flow:column wrap;
}

.App h1{
  padding-top: 50px;
  font-size:100px;
  color: rgb(232,232,232);
}

.App h4, .App h4 a{
  color: rgb(232,232,232);
  font-weight: 300;
  padding-bottom: 5rem;
}

.App h4 a:hover{
  color:#f95959;
}


/* DROPDOWN STYLES */
.dropdown{
  padding-bottom: 5rem;
}

.shelterSelector{
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
  position: relative;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.shelterSelector:focus{
  outline: 2px solid #f95959;
}

